.listWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.listItem {
  display: flex;
  justify-content: space-between;
}

.itemName {
  min-width: 150px;

  font-weight: 600;
}

.itemNumber {
  width: 150px;
  margin-left: 20px;
}

.itemBtn {
  margin-left: auto;
}
